@model HospitalAppointmentSystem.Models.Doktor

@{
    ViewData["Title"] = "Sil";
}

<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-danger text-white">
            <h1>Sil</h1>
        </div>
        <div class="card-body">
            <h3 class="text-danger">Bu kaydı silmek istediğinizden emin misiniz?</h3>
            <div>
                <h4>Doktor</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        Adı
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Adi)
                    </dd>
                    <dt class="col-sm-2">
                        Soyadı
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Soyadi)
                    </dd>
                    <dt class="col-sm-2">
                        Branşı
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Brans)
                    </dd>
                    <dt class="col-sm-2">
                        Telefon
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Telefon)
                    </dd>
                    <dt class="col-sm-2">
                        E-posta
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Mail)
                    </dd>
                    <dt class="col-sm-2">
                        Adres
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Adres)
                    </dd>
                    <dt class="col-sm-2">
                        Maaş
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Maas)
                    </dd>
                    <dt class="col-sm-2">
                        Cinsiyet
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Cinsiyet)
                    </dd>
                    <dt class="col-sm-2">
                        Poliklinik
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Poliklinik.Adi)
                    </dd>
                </dl>

                <form asp-action="Delete" method="post">
                    <input type="hidden" asp-for="DoktorId" />
                    <button type="submit" class="btn btn-danger">Sil</button> |
                    <a asp-action="Index" class="btn btn-secondary">Listeye Geri Dön</a>
                </form>
            </div>
        </div>
    </div>
</div>
