@model IEnumerable<HospitalAppointmentSystem.Models.Doktor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DoktorAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bolum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Poliklinik)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DoktorAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bolum.BolumId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Poliklinik.PoliklinikId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DoktorId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DoktorId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DoktorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
