@model IEnumerable<HospitalAppointmentSystem.Models.Doktor>

@{
    ViewData["Title"] = "Index";
}



@if (User.IsInRole("A"))
{
    <p>
        <a asp-action="Create" class="btn btn-success">Yeni Doktor Ekle</a>
    </p>
}

<div class="row">
    @foreach (var doktor in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@doktor.Adi @doktor.Soyadi</h5>
                    <p class="card-text">
                        <strong>Branş:</strong> @doktor.Brans <br />
                        <strong>Telefon:</strong> @doktor.Telefon <br />
                        <strong>E-posta:</strong> @doktor.Mail <br />
                        <strong>Adres:</strong> @doktor.Adres <br />
                        <strong>Maaş:</strong> @doktor.Maas <br />
                        <strong>Cinsiyet:</strong> @doktor.Cinsiyet <br />
                        <strong>Poliklinik:</strong> @doktor.Poliklinik.Adi
                    </p>
                    @if (User.IsInRole("A"))
                    {
                        <div class="btn-group" role="group">
                            <a href="@Url.Action("Edit", new { id = doktor.DoktorId })" class="btn btn-primary">Düzenle</a>
                            <a href="@Url.Action("Details", new { id = doktor.DoktorId })" class="btn btn-info">Detaylar</a>
                            <a href="@Url.Action("Delete", new { id = doktor.DoktorId })" class="btn btn-danger">Sil</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>
